<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Body</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td>{{ row.id }}</td>
        <td>{{ row.userId }}</td>
        <td>{{ row.title }}</td>
        <td>{{ row.body }}</td>
        <td>
          <button class="btn btn-primary" (click)="show(row.id)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="c('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
